fastapi
uvicorn[standard]

# Core validation & typing
pydantic
email-validator

# DB + ORM
sqlalchemy

# Auth / Security
passlib[bcrypt]
python-jose[cryptography]
python-multipart

# Env variables
python-dotenv

# LLM / Google Gemini
google-generativeai
